:root {
  /* color */
  --white-color: #fff;
  --black-color: #262626;
  --red-color: #CC0000; 
  --blue-color: #0360CE;
  --grey-dark-color: #707070;
  --grey-light-color: #e0e0e0;

  /* size */
  --padding: 15px;
  --pofile-size: 50px;

  /* font size */
  --font-Xlarge: 22px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

/* 반만 적용 : calc(num)/2 
   margin: 0 auto 가운데 정렬*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid pin;
}

ul {
  list-style: none;
}

button, button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
  box-sizing: border-box;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo a:link, header .logo a:visited {
  color: var(--white-color);
  text-decoration: none;
}

header .logo span:visited {
  margin-right: 2px;
}

header .logo span {
  font-family: 'Fjalla One', sans-serif;
  margin-left: 1px;
  margin-right: 2px;
  color: var(--white-color);
}

header .logo sup{
  align-self: flex-start;
  font-size: var(--font-micro);
  color: var(--grey-light-color);
}

header .icon {
  display: flex;
  align-items: center;
}

header .icon i {
  padding-left: 10px;
  cursor: pointer;
}

/* video player */

.player {
  text-align: center;
  background-color: black;
  position: sticky; 
  top: 0; /*위치를 설정해줘야 스티키가 적용됩니다.*/
}

.player video {
  width: 100%; /*반응형 느낌*/
  height: 100%;
  max-width: 780px; /*최대 사이즈*/
}

/* video infomation */

.movebox {
  display: flex;
  flex-direction: column;
}

.playerInfo {
  padding: var(--padding);
}

.metadata .hashtags {
  display: flex;
}

.metadata .hashtags li {
  margin-right: 5px;
  color: var(--blue-color);
  font-size: var(--font-small);
  cursor: pointer;
}

.metadata .title {
  display: flex;
  justify-content: space-between;
}

.metadata .title p.clamp {
  width: 95%;
  display: -webkit-box; /* 두 줄 이상 숨기기*/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.metadata .title i {
  cursor: pointer;
  height: 15px;
  transition: transform 300ms ease-in-out;
}

.metadata .title i.clicked {
  transform: rotate(180deg);
}

.metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* video infomation */

.actionBtn ul {
  display: flex;
  justify-content: space-around;
  padding: var(--padding) 0;
  border-bottom: 1px solid var(--grey-light-color)
  ;
}

.actionBtn ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--grey-dark-color);
}

.actionBtn ul li i {
  font-size: var(--font-Xlarge);
  margin-bottom: 5px;
  cursor: pointer;
}

.actionBtn ul li p {
  font-size: var(--font-small);
}

/* video channer infomation */

.channer {
  display: flex;
  justify-content: space-between;
  padding: var(--padding) 0;
  border-bottom: 1px solid var(--grey-light-color)
  ;
}

.channer .profile {
  display: flex;
  align-items: center;
}

.channer .profile img {
  width: var(--pofile-size);
  height: var(--pofile-size);
  margin-right: 5px;
  cursor: pointer;
}

.channer .name {
  cursor: pointer;
}

.channer .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.channer .subscribe {
  background-color: var(--red-color);
  color: var(--white-color);
  font-size: var(--font-medium);
  width: 75px;
  height: 40px;
  align-self: center;
}

/* next video */

.next {
  padding: 0 var(--padding);
}
.next span {
  color: var(--grey-dark-color);
}

.next .item {
  display: flex;
  margin-top: var(--padding);
}

.next .preview {
  width: 150px;
  height: 90px;
  position: relative;
}

.next .preview span {
  position: absolute;
  bottom: 5px; right: 5px;
  color: var(--white-color);
  background-color: black;
  font-size: var(--font-small);
  font-weight: bold;
  padding: 1px 4px;
}

.next img {
  width: 150px;
  height: 90px;
  cursor: pointer;
}

.next .info {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: var(--font-medium);
}

.next .title {
  width: 100%;
  display: -webkit-box; /* 두 줄 이상 숨기기*/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 18px;
  height: 36px;
}

.next .name {
  margin-top: 4px;
  background-color: white;
}

.next .name, .next .view {
  color: var(--grey-dark-color);
  font-size: 13px;
}

.next i {
  color: var(--grey-dark-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .movebox {
    display: flex;
    flex-direction: row;
  }
  .next {
    margin-top: var(--padding);
  }
}